:root {
    --nav-blue: #10536d;
    --detail-color: #1f6a9c;
    --sea-background: #c8def3;
    --body-textcolor: rgb(43, 61, 87);
    --card-highlight: rgb(77, 174, 190);
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--body-text-color);
    background-color: var(--sea-background);
}

h2 {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 700px;
    height: auto;
    object-fit: contain;
}

.header {
    grid-column: 1;
    grid-row: 1;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--nav-blue);
    color: var(--sea-background);
}

.header h1 {

    font-size: 38px;
    background-color: var(--nav-blue);
}

nav {

    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    background-color: var(--nav-blue);
}

nav ul {
    margin-right: 20px;
    list-style-type: none;
    float: right;
}

nav ul li {

    float: inline-end;
    margin-left: 30px;
    
}

.header a {
    color: var(--sea-background);
}

a {
    color: var(--sea-background);
    text-decoration: none;
}

p {
    color: var(--body-text-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-row: 4;
    grid-column: 2;
}

.container {
    object-fit: contain;
}

.dogProgrammer {
    grid-row: 2;
    grid-column: span 2;
    /* width: 100%;
     */
    height: 1000px;
    margin-bottom: 25px;
    background-image: url("./English_springer_on_a_bed.jpg");
    background-size: cover;
    background-position: center;
}

#aboutme {
    grid-column: 1;
    grid-row: 3;
    font-size: 28;
    color: var(--body-text-color);
    padding-right: 20px;
    text-align: end;
    border-right: 8px solid var(--nav-blue);
    color: var(--nav-blue);
}

#aboutmeblurb p {
    grid-row: 3;
    grid-column: 2;
    font-size: 22px;
}

#work {
    grid-row: 4;
    grid-column: 1;
    padding-right: 20px;
    text-align: end;
    border-right: 8px solid var(--nav-blue);
    color: var(--nav-blue);
}
#resume {
    grid-column: 1;
    grid-row: 5;
    font-size: 28;
    color: var(--nav-blue);
    padding-right: 20px;
    text-align: end;
    border-right: 8px solid var(--nav-blue);
}
#resumeItem{
    grid-column: 2;
    grid-row: 5;
    color: var(--nav-blue);
    font-size: 30px;
    margin-left: 30px;
}
#contact{
    grid-column: 1;
    grid-row: 6;
    font-size: 28;
    color: var(--nav-blue);
    padding-right: 20px;
    text-align: end;
    border-right: 8px solid var(--nav-blue);
}
#contactItems{
    grid-column: 2;
    grid-row: 6;
}
#contactItems ul{
    list-style-type: none;
}
#contactItems ul li{
    float: inline-start;
    margin-left: 30px;
    font-size: 22px;
    color: var(--nav-blue);
}

.cardBig {    
    width: 100%;
    height: 700px;
    /* height: calc(width * 0.5); */
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: var(--card-highlight);
    background-color: var(--detail-color);
}
/* Recieved a little help from the second answer on
 https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox/37133495#37133495 */
.cardBig img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: ease-out 1s;
}

.card {    
    flex-grow: 1 1 300px;
    flex-shrink: 0.5;
    width: 48.5%;    
    height: 500px;
    padding: 10px;
    margin: 1px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: var(--card-highlight);
    background-color: var(--detail-color);
}
/* Recieved a little help from the second answer on
 https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox/37133495#37133495 */
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: ease-out 1s;
}
.cardInfo{
    position:relative;
    text-align: center;
    bottom: 15%;
    left: 1px;
    z-index: 1;
    background-color: var(--card-highlight);
    color: var(--sea-background);
    width: 20%;
    height: 50px;
}
/*  A little help figuring out which effect to put on the images from https://thebrandsmen.com/css-image-hover-effects/
Also got couldn't resist trying to put in the transition effect in there as well. */
.cardBig img:hover{
    opacity: 50%;
    transition: 1s;
    transition-delay: 250ms;
    
}
/* Got a little help figuring out how to smoothly transition back from the hover animation from
 https://stackoverflow.com/questions/54948759/css-animation-on-hover-snaps-back-to-default-size-after-hovering-away */
.card img:hover{
    opacity: 50%;
    transition: 1s ease;
    transition-delay: 250ms;
    
}

@media screen and (max-width: 1050px) {
    body, nav{
        display: flex;
        flex: wrap;
        flex-direction: column;
    }
    .dogProgrammer{
        height: 500px;
    }
    #aboutme, #work, #resume, #contact{
        text-align: center;
        border-right: 0px;
        border-bottom: 8px solid var(--nav-blue);
    }
    .cardBig{
        aspect-ratio: 1/1;
        width: 100%;
        
    }
    .card{
       height: 350px;
       width: 48%;
    }
    .cardInfo{
        height: 50px;
        width: 30%;
    }
    .cardInfo h2{
        font-size: small;
    }
}
@media screen and (max-width: 600px) {
    body, nav, .cardBig, .card{
        display: flex;
        flex: wrap;
        flex-direction: column;
    }
    .dogProgrammer{
        height: 300px;
    }
    #aboutme, #work, #resume, #contact{
        text-align: center;
    }
    .cardBig{
        aspect-ratio: 1/1;
        width: 100%;
        
    }
    .cardInfo{
        height: 40px;
        width: 20%;
    }
    .cardInfo h2{
        font-size: small;
    }
}
