:root {
    --nav-blue: #10536d;
    --detail-color: #1f6a9c;
    --sea-background: #c8def3;
    --body-textcolor: rgb(16, 15, 24);
    --card-highlight: rgb(77, 174, 190);
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--body-text-color);
    background-color: var(--sea-background);
}

h2 {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 700px;
    height: auto;
    object-fit: contain;
}

.header {
    grid-column: 1;
    grid-row: 1;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--nav-blue);
    color: var(--sea-background);
}

.header h1 {

    font-size: 38px;
    background-color: var(--nav-blue);
}

nav {

    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    background-color: var(--nav-blue);
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {

    float: inline-end;
    margin-left: 30px;
}

.header a {
    color: var(--sea-background);
}

a {

    text-decoration: none;
}

p {
    color: var(--body-text-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container {
    object-fit: contain;
}

.dogProgrammer {
    grid-row: 2;
    grid-column: span 2;
    /* width: 100%;
     */
    height: 1000px;
    margin-bottom: 25px;
    background-image: url("./English_springer_on_a_bed.jpg");
    background-size: cover;
    background-position: center;
}

#aboutme {
    grid-column: 1;
    grid-row: 3;
    font-size: 28;
    color: var(--body-text-color);
}

#aboutmeblurb p {
    grid-row: 3;
    grid-column: 2;
    font-size: 22px;
}

#work {
    grid-row: 4;
    grid-column: 1;
}

.cardBig {    
    width: 100%;
    flex-grow: 1 1 500px;
    flex-shrink: 0.5;
    height: calc(width * 0.5);
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: var(--card-highlight);
    background-color: var(--detail-color);
}
/* Recieved a little help from the second answer on
 https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox/37133495#37133495 */
.cardBig img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card {    
    flex-grow: 1 1 300px;
    flex-shrink: 0.5;
    width: 48.5%;    
    height: 500px;
    padding: 10px;
    margin: 1px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: var(--card-highlight);
    background-color: var(--detail-color);
}
/* Recieved a little help from the second answer on
 https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox/37133495#37133495 */
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cardInfo{
    position:relative;
    text-align: center;
    bottom: 20%;
    left: 1px;
    z-index: 1;
    background-color: var(--card-highlight);
    color: var(--sea-background);
    width: 20%;
    height: 75px;
}